/* styles.css */
body {
    background-color: #222831; /* Цвет фона страницы */
}

#header {
    color: #fff;
    text-align: left;
    padding: 10px;
}

#header ul {
    list-style: none;
}

#header ul li {
    display: inline;
    margin-right: 10px;
}

#header a {
    text-decoration: none;
    color: #fff;
    position: relative; /* Добавляем позицию relative */
}

#header a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Толщина подчеркивания */
    background-color: #29a19c; /* Цвет подчеркивания */
    bottom: 0;
    left: 50%; /* Начинаем подчеркивание с середины */
    transition: width 0.3s ease; /* Анимация расширения */
    transform: translateX(-50%); /* Центрируем подчеркивание */
}

#header a:hover::before {
    width: 100%; /* Расширяем подчеркивание при наведении */
}
