* {
    padding: 0;
    margin: 0;
    border: none;
    color: #fff;
}

button {
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222831;;
    width: 1440px;
    height: 7057px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.back_icon {
    position: absolute;
    z-index: 10;
}

/*container*/
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*Header*/
.header {
    padding-top: 42px;
    z-index: 10;
    width: 100%;

    .nav {
        margin-left: 50px;
    }

    .nav_link {
        display: inline-block;
        margin-right: 46px;
        vertical-align: top;
        color: #fff;
        transition: color .2s linear;
        text-decoration: none;
        position: relative;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 25px;
    }

    .nav_link:nth-child(5) {
        margin-right: 44px;
    }

    .nav_link::after {
        content: "";
        display: block;
        width: 90%;
        height: 3px;
        background-color: #29a19c;
        position: absolute;
        top: 100%;
        left: 5%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s linear;
    }

    .nav_link:hover:after {
        opacity: 1;
    }

    .header_logo img {
        cursor: pointer;
        width: 225px;
        height: auto;
        margin-right: 55px;
        vertical-align: middle;
    }


    .header_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/*page*/
.page {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*section*/
.section {
    position: relative;
}

.section_wave {
    position: relative;
    z-index: 1;
    left: -198px;
    bottom: -6px;
}

/*intro*/
.intro {
    margin-top: 58px;
    margin-bottom: 31px;
    margin-left: 50px;

    .intro_title {
        font-family: 'Grand Hotel', cursive;
        font-size: 153px;
        margin-bottom: 25px;
        font-weight: 400;
        letter-spacing: 6px;
    }

    .intro_sub_title {
        text-transform: uppercase;
        font-size: 33px;
        margin-bottom: 14px;
        padding-left: 5px;
        letter-spacing: 2.3px;
        font-weight: 700;
    }

    .intro_text {
        display: block;
        font-size: 15px;
        padding-left: 9px;
        letter-spacing: 0.66px;
        line-height: 24px;
        margin-bottom: 22px;
        width: 515px;
    }
}

.btn_order {
    width: 247px;
    height: 58px;
    background-color: #29a19c;
    border: none;
    border-radius: 15px;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 28px;
    position: relative;
    z-index: 1000;
}

.black_coffee_section {
    display: flex;
    justify-content: space-between;
    background-color: #29a19c;
    padding-top: 36px;


    .coffee_order {
        margin-top: 18px;
        margin-left: 90px;
        width: 340px;


        .coffee_title {
            padding-left: 44px;
            font-size: 125px;
            line-height: 113px;
            display: table-cell;
            font-family: 'Grand Hotel', cursive;
            font-weight: normal;
            vertical-align: middle;
            height: 416px;
            text-align: left;

            letter-spacing: 5px;
        }

        .btn_order_black {
            background-color: #222831;
            padding: 8px 29px 10px 27px;
            margin-left: 44px;
        }

    }

    .coffee_description {
        width: 800px;
        text-align: center;
        margin-right: 40px;
    }

    .coffee_description_text {
        max-width: 627px;
        margin-top: 34px;
        margin-left: 50px;
        font-size: 24px;
        letter-spacing: 1.27px;
        line-height: 39px;
        text-align: right;
    }
}

.hot_coffee_section {
    display: flex;
    justify-content: space-between;

    padding-right: 90px;
    height: 740px;

    .coffee_order {
        margin-top: 16px;
        margin-right: 80px;
        width: 475px;
        text-align: right;


        .coffee_title {
            padding-right: 6px;
            font-size: 125px;
            line-height: 113px;
            display: table-cell;
            font-family: 'Grand Hotel', cursive;
            font-weight: normal;
            vertical-align: middle;
            height: 424px;
            text-align: right;

            letter-spacing: 5px;
        }
    }

    .coffee_description {
        width: 720px;
        text-align: center;

        margin-top: -49px;
        margin-left: 27px;
    }

    .coffee_description_text {
        text-align: left;
        display: inline-block;
        width: 601px;
        position: relative;
        left: 49px;
        top: 31px;
        font-size: 23px;
        letter-spacing: 1.25px;
        line-height: 41px;
    }
}


.white_coffee_section {
    display: flex;
    justify-content: space-between;
    height: 760px;


    .coffee_order {
        margin-top: 18px;
        margin-left: 90px;
        width: 340px;
        text-align: center;

        .coffee_title {
            padding-left: 44px;
            font-size: 125px;
            line-height: 113px;
            display: table-cell;
            font-family: 'Grand Hotel', cursive;
            font-weight: normal;
            vertical-align: middle;
            height: 416px;
            text-align: left;

            letter-spacing: 5px;
        }

    }

    .coffee_description {
        width: 800px;
        text-align: center;
        margin-right: 24px;
        margin-top: -15px;
    }

    .coffee_description_text {
        width: 567px;
        margin-top: 35px;
        margin-left: 92px;
        font-size: 21px;
        letter-spacing: 1.53px;
        line-height: 39px;
        text-align: right;
    }
}


/*Пишите по порядку и с комментариями*/
/*Здесь должны быть voucher, reviews и расписание*/


.voucher_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-left: -10px;
    margin-top: -40px;

    .voucher_title {
        font-family: 'Grand Hotel', cursive;
        font-size: 130px;
        font-weight: 400;

        margin-bottom: -8px;
        margin-left: -28px;
    }

    .btn_order_voucher {
        width: 361px;
        height: 57px;
        text-indent: -1px;
        font-size: 31px;
        letter-spacing: 1.4px;

        margin-top: 10px;
        margin-left: 23px;
    }
}


.reviews_section {
    padding-top: 73px;
    width: 100%;
    margin-left: -2px;
    margin-bottom: -8px;

    .reviews_title {
        font-family: 'Grand Hotel', cursive;
        font-size: 88px;
        font-weight: 400;
        text-align: center;
        letter-spacing: -0.2px;
        margin-left: -1px;
        margin-top: -2px;
        margin-bottom: 37px;
    }

    .reviews_list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 85%;
        margin: 0 auto 0;

        .review_img {
            padding-left: 6px;
        }

        .reviews_john_info {
            width: 500px;
            text-align: center;
            margin-left: 48px;
            margin-top: 12px;
        }

        .reviews_ella_info {
            width: 500px;
            text-align: center;
            margin-right: 54px;
            margin-top: 11px;

            .ella_name {
                margin-top: 45px;
                margin-right: 3px;
            }

            .ella_description_text {
                margin-top: 16px;
            }
        }

        .customers_name {
            font-size: 50px;
            font-family: 'Grand Hotel', cursive;
            margin-top: 37px;
            margin-left: 1px;
            font-weight: normal;
        }

        .reviews_description_text {
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 1px;
            line-height: 27.5px;
            margin-top: 25px;
            margin-left: 7px;
        }

    }

}


/*Дальше расписание*/
/*shedule*/
.schedule_section {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 38px;
    margin-top: -4px;
    text-align: center;
    margin-left: 2px;
    height: 584px;

    background-color: #29a19c;

    .schedule_title {

        margin-top: 2px;
        width: 100%;
        font-size: 98px;
        letter-spacing: 4px;

        line-height: 31px;
        font-family: 'Grand Hotel', cursive;
        margin-bottom: 33px;
        font-weight: normal;
    }

    .schedule_block {
        width: 100%;
        position: relative;
        left: -4px;
        top: -1px;

        .schedule_days {
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 2px;
            letter-spacing: -0.1px;
        }

        .schedule_time {
            font-size: 38px;
            font-weight: 400;
            letter-spacing: -0.3px;
            margin-left: -2px;
        }
    }
}


.branch_section {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: -19px;

    .branches_title {
        font-family: 'Grand Hotel', cursive;
        font-size: 88px;
        text-align: center;
        letter-spacing: 3.5px;
        width: 100%;
        margin-top: 3px;
        line-height: 134px;
        font-weight: normal;
    }

    .branches_list {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 0 54px;
        width: 100%;

        .branch_item {
            width: 26%;
            position: relative;

            .branch_name {
                color: #fff;
                font-size: 33px;
                font-weight: bold;
                width: 246px;
                height: 58px;
                border-radius: 15px;
                margin: 36px auto 36px;
                padding-top: 10px;


                letter-spacing: 2px;
                line-height: 34px;

                position: relative;
                z-index: 5;
            }

            .branch_text {
                margin-top: -2px;
                font-size: 15px;
                letter-spacing: 0.69px;
                line-height: 27.9px;
                text-align: center;
            }

            .branch_message {
                position: absolute;
                z-index: 0;
                top: 320px;
                left: 51px;
            }
        }
    }
}

.footer_section {
    background-color: #29a19c;
    padding-top: 6px;

    .footer_content {
        display: flex;
        padding-left: 60px;
        justify-content: space-between;

        .links {
            margin-top: 5px;
            width: 660px;
            display: flex;
            justify-content: space-between;

            .information {
                width: 360px;
            }

            .contacts {
                width: 305px;
            }

            .title {
                font-family: 'Montserrat', sans-serif;
                font-size: 33px;
                font-weight: bold;
                letter-spacing: 1.5px;
            }

            .menu_list {
                list-style-type: none;
                margin-top: 52px;
                margin-left: 2px;

                & li {
                    margin-top: 9.5px;


                    & a {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 22px;
                        text-decoration: none;
                        letter-spacing: 1.5px;
                    }
                }

            }
        }

    }

    .footer_end {
        display: flex;
        padding: 43px 58px 39px 60px;
        justify-content: space-between;
        margin-top: 50px;

        .footer_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav_link {
                display: inline-block;
                margin-right: 63px;
                vertical-align: top;
                color: #fff;
                transition: color .2s linear;
                text-decoration: none;
                position: relative;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 19px;
                padding-right: 5px;
            }
        }

        .socials {
            width: 16.5%;
            display: flex;

            & i {
                display: block;
                margin-right: 50px;
                position: relative;
                cursor: pointer;
            }

            .fa-facebook-f {
                bottom: 1px;
                font-size: 24px;
            }

            .fa-instagram {
                font-size: 26px;
                bottom: 1.5px;
                right: 2px;
            }

            .fa-twitter {
                font-size: 23px;
                bottom: 2px;
                right: 7px;
            }

            .fa-youtube {
                font-size: 22.5px;
                bottom: -0.5px;
                right: 17px;
            }
        }
    }

}